*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Placa
/* 3. Botão
/* 4. Descrição
/* 5. Formulario
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
    --plaque-shadow: .4rem .4rem 1.8rem #f8d75385, -.4rem -.4rem 2rem;
	--plaque-background: linear-gradient(to bottom, #dda90d 50%, #f2c22d 80%);
	
	--btn-shadow: inset .6rem .6rem .9rem #3f3301, inset -.4rem -.4rem 1.4rem;
    --btn-filter: drop-shadow(.1rem .2rem .5rem #dda90d);

	--clr-description: #edeff2;
	--clr-btn: #967a00;
	--clr-youtube-red: #c00;
	--clr-youtube-white: #fff;

	--ff: "Gothic A1", sans-serif;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html{
	font-size: 62.5%;
}


body {
	background-color: #1a1a1a;
	font-family: var(--ff);
}

/**********************************/
/* 2. Placa
/**********************************/

.plaque{
	position: relative;
	background: var(--plaque-background);
	width: 43rem;
	height: 55rem;
	margin: 0 auto;
	margin-top: 5rem;
	box-shadow: var(--plaque-shadow);
	display: flex;
	justify-content: center;
}

/**********************************/
/* 3. Botão
/**********************************/

.button{
	background: var(--clr-btn);
	width: 19rem;
	height: 13rem;
	box-shadow: var(--btn-shadow);
	border-radius: 2.5rem;
	opacity: 0.7;
	position: relative;
	top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


.button__play {
	position: relative;
	width: 0;
	height: 0;
	border-top: 3rem solid transparent;
	border-bottom: 3rem solid transparent;
	border-left: 5rem solid #ffbf00 ;
	filter: var(--btn-filter);
}

.button--broken{
	overflow: hidden;
	width: 9.5rem;
	border-radius: 0;
}

.button--left-broken{
	border-top-left-radius: 2.5rem;
	border-bottom-left-radius: 2.5rem;
}

.button--right-broken{
	border-top-right-radius: 2.5rem;
	border-bottom-right-radius: 2.5rem;
	top: 12rem;
}

.button__play--left-broken{
	left: 5rem;
}

.button__play--right-broken{
	left: -5rem;
}

.button--hide{
	display: none;
}

/**********************************/
/* 4. Descrição
/**********************************/

.description{
	color: var(--clr-description);
	text-align: center;
	opacity: 0.9;
	position: absolute;
	top: 35rem;
}

.description__intro{
	font-size: 1.7rem;
}

.description__channel-name{
	font-size: 1.8rem;
	font-weight: 900;
	margin-top: 0.7rem;
}

.description__achievement{
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 1rem;
}

.logo{
	margin-top: 3rem;
	font-size: 4rem;
}

.logo__text{
	letter-spacing: -0.05rem;
	font-weight: 600;
}
/**********************************/
/* 5. Formulario
/**********************************/

